device:
- vkCreateCommandPool
- vkGetDeviceQueue2
- vkCreateImage
- vkDestroyImage
- vkGetImageMemoryRequirements

instance:
- vkEnumeratePhysicalDevices
- vkGetPhysicalDeviceFeatures2
- vkGetPhysicalDeviceProperties2
- vkGetPhysicalDeviceFormatProperties2
- vkGetPhysicalDeviceMemoryProperties2
- vkGetPhysicalDeviceQueueFamilyProperties2
- vkCreateDevice
#ifdef VK_USE_PLATFORM_XCB_KHR
- vkCreateXcbSurfaceKHR
#endif
